[Desktop Entry]
Name=EQMenu
Comment=A simple fullscreen launcher menu (SimpleMenu fork), customized to launch applications on EQuilibrium.

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu

X-KDE-PluginInfo-Author= equilibrium
X-KDE-PluginInfo-Email=equilibrium@barnak.co.rs
X-KDE-PluginInfo-Name=eqmenu
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
